.cvsignore
.project
/**/.*
!/**/.jshintrc
/node_modules/*
*.log
/**/CVS
/app/libs/bower/*
/app/bower_components/*
/build
*.sublime-*
/target
/reports
/artifacts
/app/i18n/messages_*
/app/config/visibilityRules.json
/docs/brandingGuide/javascripts/components/*
/docs/jsdocs/*
!/docs/jsdocs/README.md
